<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>{% block title %}{% endblock %} - Flask Menu</title>

</head>

<body>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Sobre mim</a></li>
                <li><a href="{{ url_for('page1') }}">Informações Profissionais</a></li>
                <li><a href="{{ url_for('page3') }}">Espectativas de Vida</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>

</html>
